@keyframes bgcolor {
    0% {
        background-color: #3eefe3;
    }

    30% {
        background-color: #6b2cf4;
    }

    60% {
        background-color: #efec2b;
    }

    90% {
        background-color: #47d347;
    }

    100% {
        background-color: #c100f7;
    }
}

body {
    height:90%;
    width:900px;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.characterdiv{
    position: absolute;
    top:30%;
    left:35%;
}
.character{
    cursor:pointer;
    height:100px;
}
#startbutton{
    position: absolute;
    left: 43%;
    border:2px;
    border-radius: 12px;
    width: 130px;
    height:50px;
    font-size: 30px
}
.one{
    font-size: 200px;
    position: absolute;
    top:20px;
    left:41%;
}
#map{
    background-color: lightblue;
    height:600px;
    width:800px;
    position: absolute;
    left:15%;
    z-index: -1;
}
.score{
    height: 100px;
    width: 100%;
    background-color: red;
    z-index: 3;
    
}